@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');

@font-face {
    font-family: myFirstFont;
    src: url(../fonts/bromello-Regular.otf);
  }

/* body, html{
    height: 100%;
    width:100%;
    margin: 0;
} */

a{
    text-decoration: none;
    color: lightgrey;
    
}

a:hover{
    color: #fff;
}

iframe{
    height: 400px;
    width: 100%;
    display: block;
}

#topImage{
    position: relative;
    background-image: url('../Img/IMG_6053.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    /* height: 900px; */
    height: 100vh;
    min-height: 670px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    
}

#overlay {
	z-index: 0;
	position: absolute;
	bottom:0;
	top: 0;
	left: 0;
	right: 0;
    background: rgba(0, 0, 0, 0.5);
    
}

#overlay-venue {
	z-index: -1;
	position: absolute;
	bottom:0;
	top: 0;
	left: 0;
	right: 0;
    background: rgba(0, 0, 0, 0.5);
    
}

#top-text{
    position: relative;
    z-index: 1;
    color:#fff;
    /*border:3px solid white;*/
    text-align: center;
    
}

#top-text h1{
    /* font-family: 'Sacramento', cursive;  */
    font-family: 'myFirstFont';
    font-size: 100px;
    font-weight: 400;
    margin:0;
    padding: 0;
}

#top-text h2{
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-bottom:70px;
    padding: 0;
}

#menu-bar{
    position: absolute;
    top:20px;
    /* right:100px; */
    z-index: 1;
    width:100%;
    text-align: center;
}

#menu-bar ul li{
    display: inline-block;
    font-family: "Work Sans", Arial, sans-serif;
    font-size:20px;
    padding: 10px;
    
}

.navbar-toggle{
    display:none;
}

#ClockContainer{
    position: relative;
}

.clock-days{
    display:none;
}

#SwirlsAndDate{
    position: relative;
    margin-top: 50px;
    
}

#rsvp-button{
    position: relative;
    margin-top: 30px;
    margin-bottom: 20px;
}

#DateText{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "Work Sans", Arial, sans-serif;
    font-size:30px;
    color: #f7d0cb;
}

#date-time-section{
    padding-top:112px;
    padding-bottom:92px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.04);
    background-image: url('../Img/bgtexture1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

#date-time-title{
    text-align: center;
    margin-bottom: 80px;
}

#date-time-title h1{
    font-family: 'myFirstFont';
    font-size: 4.375rem;
    margin-bottom: 40px;
    color: #f7d0cb;
}

#date-time-box{
    border:3px solid #f7d0cb;
    text-align: center;
    padding:20px;
    margin-bottom:100px;
    min-height:400px;
    /* background-color: #fff; */
    margin-left: 10px;
    margin-right: 10px;
}

#date-time-box h1{
    font-family: 'myFirstFont';
    font-size: 4.375rem;
    border-bottom: 1px solid #000;
    margin-bottom: 30px;
}

#date-time-column P{
    font-family: "Work Sans", Arial, sans-serif;
    margin-bottom: 0;
}

#date-time-text {
    margin-top:50px;
    font-family: "Work Sans", Arial, sans-serif;
}

.tilted-box {
    min-height: 400px;
    /* border:3px solid #000; */
    transform: rotate(-2.5deg);
    background-color: #eee;
    position: absolute;
	bottom:0;
	top: 0;
	left: 0;
    right: 0;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border:3px solid #f7d0cb;

}

.tilt-right{
    transform: rotate(2.5deg);
}


#venue-section{
    position:relative;
    padding-top:50px;
    padding-bottom:150px;
    background-image: url("../Img/shustoke.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width:100%; 
    transition: background-image 1s ease-in-out;
    z-index: 0;
}

#venue-container a{
    font-family: "Work Sans", Arial, sans-serif;
    font-size: 20px;
}

#venue-box{
    /* border:3px solid #000; */
    /* border-radius: 30px; */
    background-color: rgba(0, 8, 28, 0.4);
    text-align: center;
    padding:30px;
    min-height:400px;
    color: #fff;
    margin-top: 50px;
}

#venue-row{
    padding-right: 10px;
    padding-left: 10px;
}

.venue-icons{
    width: 35px;
    height: 35px;
}
#venue-ootd-row2{
    padding-top: 15px;
}

#venue-box h1{
    font-family: 'myFirstFont';
    font-size: 4.375rem;
    border-bottom: 1px solid #fff;
    margin-bottom: 40px;

}

#venue-box P{
    font-family: "Work Sans", Arial, sans-serif;
    font-size:20px;
}

#map-and-hotel-section{
    padding-top:112px;
    padding-bottom: 112px;
    width:100%;
    background-color:rgba(0, 0, 0, 0.04);
    background-image: url('../Img/bgtexture1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#accommodation-title{
    text-align: center;
    margin-bottom: 80px;
}

#accommodation-title h1{
    font-family: 'myFirstFont';
    font-size: 4.375rem;
    margin-bottom: 40px;
    color: #f7d0cb;
}

#map-box{
    /* border:3px solid #000; */
    text-align: center;
    /* padding:20px; */
    margin-bottom:50px;
    height:400px;
}

#hotel-box{
    /* border:3px solid #000; */
    text-align: center;
    /* padding:20px; */
    margin-bottom:20px;
    height:400px;
}

.carousel-item {
    height:400px;
}

#hotelImage1{
    background-image: url('../Img/hotel1.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover !important;   
    background-position: center !important;
}

#hotelImage2{
    background-image: url('../Img/hotel2.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover !important;   
    background-position: center !important;
}

#hotelImage3{
    background-image: url('../Img/hotel3.jpg');
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover !important;   
    background-position: center !important;
}

.carousel-caption{
    background-color: rgba(0, 8, 28, 0.4);
}

#rsvp-section{
    position: relative;
    padding-top:112px;
    padding-bottom:112px;
    background-image: url('../Img/IMG_6052.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width:100%;  
}

#rsvp-box{
    /* border:3px solid #000; */
    /* text-align: center; */
    padding:40px;
    margin-bottom:20px;
    height:400px;
    color: #fff;
    font-family: "Work Sans", Arial, sans-serif;
}
.form-control:focus{
    border-color: #f7d0cb;
    box-shadow: none; 
    -webkit-box-shadow: none;
}

#rsvp-title{
    position: relative;
    z-index: 1;
    text-align: center;
    margin-bottom: 80px;
}

#rsvp-title h1{
    font-family: 'myFirstFont';
    font-size: 4.375rem;
    color: #f7d0cb;
}

.custom-control-label:before{
    background-color:#fff;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before{
    background-color:#f7d0cb;;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after{
    background-image:url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='white' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}
.custom-control-input:active~.custom-control-label::before{
    background-color:#f7d0cb;
}

/** focus shadow pinkish **/
.custom-radio .custom-control-input:focus~.custom-control-label::before{
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem #fff; 
}

.center-radio-buttons{
    text-align: center;
}

.modal-body{
    text-align: center;
    font-family: 'myFirstFont';
    color: #f7d0cb;

}

.modal-footer{
    justify-content: center;
}

#footer-section{
    padding-top:112px;
    padding-bottom: 112px;
    width:100%;
    background-color:rgba(0, 0, 0, 0.04);
    background-image: url('../Img/bgtexture1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

#hashtag-title{
    text-align: center;
    font-family: 'myFirstFont';
    font-size: 150px;
    font-weight: 400;
    margin-bottom: 40px;
}

#hash{
    color: #f7d0cb;

}

#footer-text{
    text-align: center;
    font-family: "Work Sans", Arial, sans-serif;
    font-size:10px;
    position: absolute;
    bottom: 5px;
    width: 100%;
}

@media screen and (max-width: 768px){
    .navbar-toggle{
        display: inline;
        position: absolute;
        right:20px;
        color:#fff;
    }

    .main-nav{
        display:none;
    }

    #topImage{
        background-attachment: scroll;
    }

    #venue-section{
        background-attachment: scroll;
    }
    
    #rsvp-section{
        background-attachment: scroll;
    }
}

@media screen and (max-width: 375px){
    #accommodation-title h1{
        font-size: 4.0rem; 
    }
}

@media screen and (max-width: 412px){
    #DateText{
        font-size:23px;
    }
}

@media screen and (max-width: 499px){
    #topImage{
        min-height: 800px;
    }

    .clock-days{
        display: block;
    }

}





